<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename= 'favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename= 'favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename= 'favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename= 'favicon/site.webmanifest') }}">
    <title>Simple Pastebin Service</title>
    <script src="{{ url_for('static', filename= 'scripts/check_size.js') }}"></script>
</head>
<body>
<div class="grid-container">
    <div class="grid-item">
        <h1>Simple Pastebin Service</h1>
    </div>
    <div class="grid-item">
        <form action="/" method="POST">
            <p><label for="paste_id">Paste</label></p><input type="text" name="msg" id="paste_id" onkeyup='check();'>
            <span id='message'></span>
            <p><input type="submit" value="submit"/></p>
        </form>
    </div>
    <div class="grid-item">
        <img src="{{ url_for('static', filename= 'favicon/android-chrome-192x192.png') }}"
             alt="Simple Pastebin Service">
    </div>
    <div class="grid-item">
        <h3>Recent pastes</h3>
        {% for value in recent_posts %}
            <a href="/msg/{{ value }}">{{ value }}</a><br/>
        {% endfor %}
    </div>
    <div class="grid-item">
        <h3>Your Pastes</h3>
        {% for value in ip_list %}
            <a href="/msg/{{ value }}">{{ value }}</a><br/>
        {% endfor %}
    </div>
    <div class="grid-item">
        <h3>Rules</h3>
        <p>When an ip exceeds 10 pastes, the oldest pastes will be deleted.</p>
        <p>Pastes might be deleted at anytime for any reason.</p>
        <p>I reset the application every so often and everything will be lost.</p>
        <p>512 bytes is the maximum paste length.</p>
        <p>Wait 1 minute between each post.</p>
        <p>To delete your pastes, simply post 10 empty pastes.</p>
    </div>
</div>
</body>
</html>
